<div>
  {% comment %} <video autoplay="true" id="videoElement"></video> {% endcomment %}
  {% comment %} <input id="photoElement" type="file" name="image" accept="image/*" capture="camera" /> {% endcomment %}
  {% comment %} <button id="capture">Capture</button> {% endcomment %}
  {% csrf_token %}
  <form id="imageForm">
    <input type="file" name="photo" accept="image/*" capture="camera" required />
    <button type="button" id="capture" onclick="imageSubmit">Capture</button>
    {% csrf_token %}
  </form>
  <style>
    #videoElement {
      width: 80%;
    }
  </style>

  <script>
    function imageSubmit() {
      console.log('imageSubmit')
      var form = document.querySelector('#imageForm')
      var formData = new FormData(form)
      fetch('http://{{ request.get_host }}/imaging/upload', {
        method: 'POST',
        body: formData
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data)
        })
        .catch((error) => {
          alert(error)
        })
    }
    document.getElementById('capture').addEventListener('click', function () {
      let form = document.getElementById('imageForm')
      for(const child in form.children) {
        // check if value is not invalid using css selectors
        if (child.tagName === 'INPUT' && child.value === '') {
          console.log('Please select an image')
          return
        } else {
          console.log(child)
        }

      }
      imageSubmit();
    })
  </script>
</div>
